body {
    margin: 0;
    background-color: var(--background-normal) !important;

    --primary: #03a9f4;
    --primary-light: #67daff;
    --primary-dark: #007ac1;

    --yellow: #ffb300;
    --red: #e35169;
    --orange: #ee9746;
    --green: #00c897;

    --foreground-normal: #4f5464;
	--foreground-normal-alt: #172940;
	--foreground-subdued: #a2b5cd;

	--background-normal: #f0f4f9;
	--background-normal-alt: #e4eaf1;
	--background-subdued: #f7fafc;
}

.reveal .slides section {
    background-color: white;
}

header {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 500;
    font-size: 20px;
    color: var(--foreground-subdued);
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    background-color: var(--primary);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    color: white;
}

footer::after {
    right: unset;
    left: 100%;
}

section {
    width: 100%;
    height: 100%;
}

panel {
    display: block;
    padding: 10px;
    background-color: var(--background-normal);
    margin: 10px 0;
    font-size: 24px;
}

panel[danger] panel-title {
    color: var(--red);
}

panel-title {
    font-size: 28px;
    display: block;
    color: var(--primary);
}

.content {
    display: block;
    margin: auto;
    width: 100%;
    font-size: 28px;
    text-align: left;
    padding: 40px;
    padding-top: 70px;
}

section[top] .content {
    margin: 0;
}

div[inline] {
    display: inline-block;
}

html.print-pdf .reveal .slides section {
    display: flex !important;
}

span.katex {
    font-size: 1em;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5 {
    font-weight: 500;
    text-transform: none;
}

.reveal h3 {
    font-size: 36px;
}

button.bottom {
    position: absolute;
    bottom: 30px;
    right: 10px;
    cursor: pointer;
    border: none;
    background-color: var(--primary-light);
    color: white;
    padding: 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

button.bottom:hover {
    background-color: var(--primary);
}

button.bottom:active {
    transform: scale(0.9);
}

.reveal button a, .reveal button a:hover {
    color: inherit;
}

table.motivation {
    font-size: 26px;
}