body {
    margin: 0;

    --primary: #03a9f4;
    --primary-light: #67daff;
    --primary-dark: #007ac1;

    --foreground-normal: #4f5464;
	--foreground-normal-alt: #172940;
	--foreground-subdued: #a2b5cd;

	--background-normal: #f0f4f9;
	--background-normal-alt: #e4eaf1;
	--background-subdued: #f7fafc;
}

header {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 500;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    background-color: var(--primary);
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    color: white;
}

footer::before, footer::after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    content: '';
    width: 100vw;
    background-color: var(--primary);
}

footer::after {
    right: unset;
    left: 100%;
}

section {
    width: 100%;
    height: 100%;
}

panel {
    display: block;
    padding: 10px;
    background-color: var(--background-normal);
    margin: 10px 0;
    font-size: 24px;
}

panel-title {
    font-size: 28px;
    display: block;
    color: var(--primary);
}

.content {
    display: block;
    margin: auto;
    width: 100%;
    font-size: 28px;
    text-align: left;
    padding: 40px;
}

div[inline] {
    display: inline-block;
}

html.print-pdf .reveal .slides section {
    display: flex !important;
}