.koffer {
    position: absolute;
    width: 250px;
}

.koffer-container {
    position: relative;
    perspective: 1000px;
    height: 501px;
}

.kofferTop {
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: 0px;
    transition: transform 500ms ease-in-out;
    z-index: 2;
}

.kofferTop.open {
    transform: rotateY(-120deg);
}

.max-weight {
    position: absolute;
    top: 485px;
    left: 20px;
    z-index: 0;
}

.parallel {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item {
    width: 213px;
    font-size: 18px;
    color: white;
    padding: 5px 10px;
    box-sizing: border-box;
    background-color: var(--green);
    border-radius: 10px;
}

.item.large {
    font-size: 22px;
}

.koffer-space {
    margin: 129px 0 0 19px;
    z-index: -1;
    display: flex;
    flex-direction: column;
    gap: 2px
}