.events {
    margin: 20px 0;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.events table tr:nth-child(1) td:nth-child(2) {
    width: 100px;
}

.events table {
    margin-bottom: 20px;
}

.targets {
    font-size: 28px;
}

.targets ul {
    display: block;
}

.flex {
    display: flex;
    justify-content: space-between;
}