.events {
    margin: 20px 0;
    font-size: 20px;
}

.events table tr:nth-child(1) td:nth-child(2) {
    width: 100px;
}

.events table {
    margin-bottom: 20px;
    font-size: 20px;
}

.targets {
    max-width: 30vw;
    font-size: 28px;
}

.targets ul {
    display: block;
}

.flex {
    display: flex;
    justify-content: space-around;
}

table tr.gray {
    color: var(--foreground-subdued);
}