.map {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.lines {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.data {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    transform: translate(-4px, -4px);
}

.circle {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #68b0f4;
}

.circle.from {
    background-color: var(--yellow);
}

.circle.to {
    background-color: var(--green);
}

span.from {
    color: var(--yellow);
}

span.to {
    color: var(--green);
}

.text-small {
    font-size: 16px;
    position: absolute;
}

.text {
    position: absolute;
    font-size: 20px;
    user-select: none;
    cursor: pointer;
}

.line {
    stroke: #68b0f4;
    stroke-width: 1px;
}

.line.greedy {
    stroke: var(--red);
    stroke-width: 2px;
}

.line.astar {
    stroke: var(--yellow);
    stroke-width: 2px;
}

.line.astar.greedy {
    stroke: var(--orange);
    stroke-width: 2px;
}

.title {
    font-size: 28px;
}

.stats {
    position: absolute;
    top: 120px;
    right: 20px;
    text-align: right;
}

.reveal a.back {
    position: unset;
}